 /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
 .row.content {height: 550px}
    
 .w3-bar-item {
    font-size: 50px; /* Adjust the font size as needed */
  }
  .custom-container {
    width: 300px; /* Adjust the width to your preference */
    /* You can also use other CSS properties to style the container */
}
 
 
 /* On small screens, set height to 'auto' for the grid */
 @media screen and (max-width: 767px) {
   .row.content {height: auto;} 
   .rsidenav {height: auto;} 
   .sidenav {height: auto;} 
 }
 element {
    white-space: nowrap;
  }